@{
    ViewBag.Title = "Charters";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>GROUP CHARTERS</b></p>
<p>Greatland Tours offer charter transportation services across nationwide for a short trip, overnight and extended trip. We provide customized solutions to match your transportation needs and working with you to create the best service for your event.</p>
    <ul>
    <li>Corporate Transportation</li>
        <li>Conventions & Meetings</li>
        <li>Shuttle Service and Route Service</li>
        <li>Government and Political Campaigns</li>
        <li>Airport Transfer</li>
        <li>Cruise Line Transportation</li>
        <li>School or University athletic group and events</li>
        <li>Social Events</li>
        <li>Sightseeing Tours</li>
        <li>Reunion and Senior Clubs</li>
        <li>Church Groups</li>
    </ul>

<p><b>CASINO GROUP</b></p>

<p>Coushatta Casino Resort</p>
<ul>
    <li>35+ passengers minimum</li>
    <li>CReceive $10 player credit per person for weekday trip</li>
    <li>5 hour stay at the casino</li>
    <li>All passengers must be 21 years of age or older and must show valid federal picture I.D.</li>
</ul>
<p>L’Auberge Casino</p>
<ul>
    <li>No minimum required</li>
    <li>Receive $10 cash coupon or $20 meal coupon at the casino</li>
    <li>Minimum 5 hour stay at the casino</li>
    <li>Must present a valid federal picture I.D.</li>
    <li>All passengers must be 21 years of age or older</li>
</ul>
<p>Isle of Capri Casino</p>
<ul>
    <li>35+ passengers minimum</li>
    <li>Receive $10 player credit at the casino</li>
    <li>5 hour stay at the casino</li>
    <li>Must present a valid federal picture I.D.</li>
    <li>All passengers must be 21 years of age or older</li>
</ul> 
<p>Harrah’s Louisiana Downs</p>
<ul>
    <li>38 passengers minimum</li>
    <li>Receive $10 free slot play</li>
    <li>5 hours stay at the casino</li>
    <li>Day & Night Trips</li>
    <li>Must present a valid federal picture I.D.</li>
    <li>All passengers must be 21 years of age or older</li>
</ul>
<p>Paragon Casino</p>
<ul>
    <li>Popular slots and table games, a full-throttle poker room and a thrill-a-minute off track betting parlor and much more.</li>
</ul>
<p>Bell of Baton Rouge Casino</p>
<ul>
    <li>3 floors of all your favorite games, 850 of the hottest slots, video poker, keno machines, table games, and much more.</li>
</ul>